.loginbtn{
    display: table;
    margin: 0 auto;
}

#login-form>h3{
    text-align: center;
}

#login-form{
    width: auto;
    height: auto;
    border: 1px solid teal;
    background-color: #ffffff;
    color: #999999;
    line-height: inherit;
    display: table;
    margin: 0 auto;

}
