html, body{
    width: 100%;
    position: absolute;
}

#homepage{
    background-image: url("../media/coolblue.jpg");
    background-size: cover;
}

header{
    height: 20%;
    width: 30%;
    margin-top: 0.5%;
    margin-bottom: 1%;
    display: inline-block;
    margin-left: 0.2%;
}

.logo img{
    width: 150px;
    height: 150px;
    cursor: pointer;
}


nav{
    display: inline-block;
    width: 60%;
    float: right;
    margin-right: 0.2%;
    margin-top: 0.5%;
    margin-bottom: 1%;
}

#search-form{
    width: 40%;
    display: inline-block;
}

.home side-nav{
    float: left!important;
}

.content{
    width: 100%;
    height: 600px;
    justify-content: space-between;
}

section{
}

#intro{
    width: 64%;
    height: 100%;
    display: inline-block;

}

#intro article{
    background-color: #fffafac7;
    margin: 2%;
    height: 29%;
    width: 80%;
    text-align: center;
    line-height: inherit;
}

#intro article h1{
    color: forestgreen;
}

.signupbtn{
    background-color: magenta!important;
    display: table;
    margin: 0 auto;
}

#signup-form>h3{
    text-align: center;
}

#signup-form{
    width: 28%;
    height: auto;
    display: inline-block;
    float: right;
    margin: 3%;
    border: 1px solid teal;
    background-color: #ffffff;
    color: #999999;
    line-height: inherit;

}


footer{
    bottom: 0px;
    width: 99.6%;
    margin-left: 0.2%;
    margin-top: 3%;
    background-color: #ee6e738a!important;
}
