main{
    display: flex;
    width: 99%;
}


#userprofile{
    width: 40%;
    margin: 2%;

}

#feed{
    width: 60%;
}

.ownedbusiness{
    width: 100%;
}

.card-title{
    text-align: center;
}

.row{
    clear: both;
    width: 98%;
}

.review-item{
    text-align: left;
}


.modal {
z-index: 999;
position: absolute;

}

.modal-form-row {
margin-bottom: 0px;
}
